[defaults]
host_key_checking = False
retry_files_enabled = False
deprecation_warnings = False
interpreter_python = auto_silent
timeout = 30
forks = 50
gathering = explicit
stdout_callback = default
bin_ansible_callbacks = True

[paramiko_connection]
record_host_keys = False
look_for_keys = False
host_key_auto_add = True

[ssh_connection]
pipelining = False
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no

[persistent_connection]
connect_timeout = 40
command_timeout = 40
connect_retry_timeout = 20
