[defaults]
host_key_checking = False
retry_files_enabled = False
deprecation_warnings = False

[paramiko_connection]
record_host_keys = False

[persistent_connection]
connect_timeout = 30
command_timeout = 30
